
  .main-exrate{
    padding: 12px;
    background-color: #282c34;
    color: #fafafa;
    min-height: 100vh;   
  }
  .card_currency {
    border: 1px solid #ffffff;
    padding: 12px;
    margin-top: 12px;
  }

  .rate {
    margin-left: 12px;
  }